.app-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff40;
}

button:active {
    background-color: #ffffff20;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'] {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
}
